
.container span{
    
    color: #92E3A9;
}

.account-container {
    /* display: flex; */
    flex-direction: column;
    align-items: start;
    padding: 20px;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
  }
  
  .add-item-btn {
    grid-area: button;
    background-color: #4cbc6c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card001 {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card001 h3 {
    font-size: 18px;
  }
  
  .card001 p {
    margin: 5px 0;
  }

.auction-item-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  justify-content: center; /* Start from left to right */
  gap: 10px; /* Adjust the gap between cards */
}

.auction-item-card {
  max-width: calc(25% - 20px); /* 4 cards per row with 20px gap */
  flex: 1 0 calc(25% - 20px); /* Distribute equal width for 4 cards */
}
.modal-open {
  filter: blur(5px); /* Add the blur effect to the background */
  pointer-events: none; /* Prevent clicking on the blurred background */
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  backdrop-filter: blur(5px); /* Add the blur effect to the background */
  z-index: 999; /* Ensure it's above other elements */
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-title{
  text-align: center;
  padding-top: 10px;
}
.hero-title span{
  color: #4cbc6c;
}


.button-stick {
  position: fixed;
  bottom:40px;
  right:50px;
  padding: 10px 22px;
  border-radius: 15px 0px 15px 0px;
  border: none;
  width:150px;
  height:45px;
  color:#263238;
  font-weight: bold;
  cursor: pointer;
  background-color: #73d68f;
  transition: all 0.2s ease;
}

.button-stick:active {
  transform: scale(0.96);
}

.button-stick:before,
.button-stick:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.button-stick:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #92E3A9 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #92E3A9 20%, transparent 30%),
    radial-gradient(circle, #92E3A9 20%, transparent 20%),
    radial-gradient(circle, #92E3A9 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #92E3A9 15%, transparent 20%),
    radial-gradient(circle, #92E3A9 20%, transparent 20%),
    radial-gradient(circle, #92E3A9 20%, transparent 20%),
    radial-gradient(circle, #92E3A9 20%, transparent 20%),
    radial-gradient(circle, #92E3A9 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.button-stick:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #263238 20%, transparent 20%),
    radial-gradient(circle, #263238 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #263238 15%, transparent 20%),
    radial-gradient(circle, #263238 20%, transparent 20%),
    radial-gradient(circle, #263238 20%, transparent 20%),
    radial-gradient(circle, #263238 20%, transparent 20%),
    radial-gradient(circle, #263238 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh; /* Adjust the height as needed */
}
